@tailwind base;
@tailwind components;
@tailwind utilities;
.CodeMirror {
    height:100% !important;
    width: 100% !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;

}